.title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    &_fz40 {
        font-size: 40px;
        color: black;
    }
}
.contact__text{
    font-size: 30px;
    color: black;
}

@media screen and (max-width: 767px) {
    .title {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        &_fz40 {
            font-size: 25px;
            color: #3A5372;
        }
    }
    .contact__text{
        font-size: 16px;
        color: black;
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 1024px) {
    .title {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        &_fz40 {
            font-size: 25px;
            color: #3A5372;
        }
    }
    .contact__text{
        font-size: 16px;
        color: black;
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 1440px) {
    .title {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        &_fz40 {
            font-size: 25px;
            color: #3A5372;
        }
    }
    .contact__text{
        text-align: center;
        font-size: 16px;
        color: black;
        padding-bottom: 20px;
    }


}