.title {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
    &_fz40 {
        font-size: 40px;
        color: black;
    }
}
.contact__text{
    font-size: 30px;
    color: black;
}
